{% extends 'base.html.twig' %}

{% block title %}Modifier Parcelle - {{ parent() }}{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h2 class="mb-0"><i class="fas fa-edit text-warning"></i> Modifier la Parcelle</h2>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                        <div class="row">
                            <div class="col-md-6">
                                {{ form_row(form.nom_parcelle) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(form.surface) }}
                            </div>
                        </div>
                        {{ form_row(form.coordonnees_gps) }}
                        {{ form_row(form.type_sol) }}
                        <div class="mt-4">
                            <button type="submit" class="btn btn-success">
                                <i class="fas fa-save"></i> Enregistrer les modifications
                            </button>
                            <a href="{{ path('app_parcelles_show', {'id_parcelle': parcelle.id_parcelle}) }}" class="btn btn-secondary">
                                <i class="fas fa-times"></i> Annuler
                            </a>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}